node_modules
.next
storybook-static
coverage
playwright-report
test-results
*.log
*.tsbuildinfo
.playwright-e2e-state.json
.env
.env.docker
.env.local
.env.production
.DS_Store
npm-debug.log*
prisma/dev.db

*storybook.log
